---
import type { CollectionEntry } from 'astro:content'
import Card from './Card.astro'
import { format } from 'date-fns'

interface Props {
  slug: CollectionEntry<'blog'>['id']
  data: CollectionEntry<'blog'>['data']
}

const { slug, data } = Astro.props
const { createAt } = data

const [month, day, year] = format(createAt.toLocaleString(), 'MMM/do/yyyy').split('/')
---

<div class="mb-4 last:mb-0 h-24">
  <Card>
    <div class="flex gap-4 z-10">
      <time
        datetime={createAt.toLocaleString()}
        class="flex flex-col text-secondary font-semibold text-center shrink-0"
      >
        <span class="text-3xl">{day}</span>
        <span>{`${month} ${year}`}</span>
      </time>
      <div class="grow">
        <a href={`/blogs/${slug}`} class="hover:underline-offset-4 hover:underline decoration-primary text-xl">
          {data.title}
        </a>
        <div>
          {data.tags?.map((tag) => <span class="ds-badge ds-badge-outline mr-2 last:mr-0">{tag}</span>)}
        </div>
      </div>
    </div>
  </Card>
</div>
