---
import type { CollectionEntry } from 'astro:content'
import Card from './Card.astro'

interface Props {
  blog: CollectionEntry<'blog'>
  publishedAt: Date
}

const { blog, publishedAt } = Astro.props

const dateParts = new Intl.DateTimeFormat('en-UK', {
  month: 'short',
  day: '2-digit',
  year: 'numeric',
}).formatToParts(publishedAt)

const datetime = dateParts.reduce<{
  [key in 'month' | 'day' | 'year']?: string
}>((acc, part) => {
  if (part.type === 'month' || part.type === 'day' || part.type === 'year') {
    acc[part.type] = part.value
  }
  return acc
}, {})
---

<div class="mb-4 last:mb-0 h-24">
  <Card>
    <div class="flex gap-4 z-10">
      <time
        datetime={publishedAt.toLocaleString()}
        class="flex flex-col text-secondary font-semibold text-center shrink-0"
      >
        <span class="text-3xl">{datetime.day}</span>
        <span>{`${datetime.month} ${datetime.year}`}</span>
      </time>
      <div class="grow">
        <a href={`/blogs/${blog.id}`} class="hover:underline-offset-4 hover:underline decoration-primary text-xl">
          {blog.data.title}
        </a>
        <div>
          {blog.data.tags?.map((tag) => <span class="ds-badge ds-badge-outline mr-2 last:mr-0">{tag}</span>)}
        </div>
      </div>
    </div>
  </Card>
</div>
