---
import type { GetStaticPaths } from 'astro'
import DefaultLayout from '@/layouts/default.astro'
import GiscusWidget from '@/components/GiscusWidget'
import { getCollection, getEntry, render } from 'astro:content'
import TOC from '@/components/TOC.astro'
import { getFileCommitDate } from '@/utils/getCommitMeta'

export const getStaticPaths = (async () => {
  const blogs = getCollection('blog').then((blogs) =>
    Promise.all(
      blogs.map(async (blog) => {
        return {
          blog,
          publishedAt: getFileCommitDate(blog),
          updatedAt: getFileCommitDate(blog, true),
        }
      }),
    ),
  )

  return (await blogs).map(({ blog }, index, blogs) => {
    const previous = index === 0 ? null : blogs.at(index - 1)!.blog
    const next = index === blogs.length - 1 ? null : blogs.at(index + 1)!.blog
    return {
      params: {
        slug: blog.id,
      },
      props: {
        blog,
        previous: previous ? { title: previous.data.title, slug: previous.id } : null,
        next: next ? { title: next.data.title, slug: next.id } : null,
      },
    }
  })
}) satisfies GetStaticPaths

const { blog, previous, next } = Astro.props
const { Content, headings } = await render(blog)
---

<DefaultLayout
  seo={{
    title: blog.data.title,
    description: blog.data.description,
    updatedAt: new Date().toLocaleDateString(),
    publishedAt: new Date().toLocaleDateString(),
    tags: blog.data.tags,
  }}
>
  <article class="m-auto line-numbers ds-prose relative">
    <section class="absolute top-10 left-full ml-4 font-sans">
      <TOC headings={headings} />
    </section>
    <Content />
  </article>
  <section class="m-auto md:w-1/2 w-full">
    <nav class="flex flex-col py-4">
      {
        previous && (
          <div class="self-start">
            <span>上一篇：</span>
            <a class="ds-link ds-link-hover decoration-primary" href={`/blogs/${previous.slug}`}>
              {previous.title}
            </a>
          </div>
        )
      }
      {
        next && (
          <div class="self-end">
            <span>下一篇：</span>
            <a class="ds-link ds-link-hover decoration-primary" href={`/blogs/${next.slug}`}>
              {next.title}
            </a>
          </div>
        )
      }
    </nav>
    <GiscusWidget client:only="solid-js" />
  </section>
</DefaultLayout>
