---
import type { GetStaticPaths } from 'astro'
import DefaultLayout from '@/layouts/default.astro'
import GiscusWidget from '@/components/GiscusWidget'
import { render } from 'astro:content'
import TOC from '@/components/TOC.astro'
import { queryCollection } from '@/utils/queryCollection'

export const getStaticPaths = (async () => {
  const blogs = await queryCollection('blog', {
    by: 'createAt',
    order: 'desc',
  })

  return blogs.map((blog, index, blogs) => {
    const previous = index !== 0 ? blogs.at(index - 1)! : null
    const next = index !== blogs.length - 1 ? blogs.at(index + 1)! : null
    return {
      params: {
        slug: blog.id,
      },
      props: {
        blog,
        previous: previous ? { title: previous.data.title, slug: previous.id } : null,
        next: next ? { title: next.data.title, slug: next.id } : null,
      },
    }
  })
}) satisfies GetStaticPaths

const { blog, previous, next } = Astro.props
const { Content, headings } = await render(blog)
---

<DefaultLayout
  seo={{
    title: blog.data.title,
    description: blog.data.description,
    updatedAt: blog.data.updateAt.toLocaleDateString(),
    publishedAt: blog.data.createAt.toLocaleDateString(),
    tags: blog.data.tags,
  }}
>
  <div class="grid grid-cols-1 lg:grid-cols-[1fr_auto_1fr] lg:gap-6">
    <article class="prose max-w-xs md:max-w-lg lg:max-w-xl lg:col-start-2 mx-auto wrap-anywhere">
      <Content />
    </article>
    <aside class="hidden lg:block">
      <TOC headings={headings} />
    </aside>
  </div>
  <section class="m-auto md:w-1/2 w-full">
    <nav class="flex flex-col py-4">
      {
        previous && (
          <div class="self-start">
            <span>上一篇：</span>
            <a class="link link-hover decoration-primary" href={`/blogs/${previous.slug}`}>
              {previous.title}
            </a>
          </div>
        )
      }
      {
        next && (
          <div class="self-end">
            <span>下一篇：</span>
            <a class="link link-hover decoration-primary" href={`/blogs/${next.slug}`}>
              {next.title}
            </a>
          </div>
        )
      }
    </nav>
    <GiscusWidget client:only="solid-js" />
  </section>
</DefaultLayout>
